.heading
{
    font-size: 23px;
    background: rgb(9, 161, 221);
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(75, 219, 8);
}
.heading_div
{
    float: none;
    background: rgb(201, 6, 6);
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px rgb(73, 73, 151);
}
.heading_div2
{
    font-size: 18px;
}
.result_para_tag
{
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
}
.copy_right_footer
{
    position: fixed;
    color: rgb(15, 12, 12);
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}
.marqueeStyle
{
    font-size: 30px;
    
}